= simple_form_for @recipe, html: { multipart: true } do |f|
	- if @recipe.errors.any?
		#errors
			%p
				=@recipe.errors.count
				Se previno que las receta se guardara
			%ul
				- @recipe.errors.full_messages.each do |msg|
					%li=msg
	.panel-body
		= f.input :title, label:' Titulo ',input_html:{class: 'form-control'}
		= f.input :description, label:' Descripcion ',input_html:{class: 'form-control'}
		= f.input :image, label:' Imagen ',input_html: {class: 'form-control'}

		.row
			.col-md-6
				%h3 Ingredientes
				#ingredients
					= f.simple_fields_for :ingredients do |ingredient|
						= render 'ingredient_fields', f: ingredient
					.links
						= link_to_add_association 'Agregar Ingrediente', f, :ingredients, class: "btn btn-default add-button"

			.col-md-6
				%h3 Pasos a seguir
				#directions
					= f.simple_fields_for :directions do |direction|
						= render 'direction_fields', f: direction
					.links
						= link_to_add_association 'Agregar paso', f, :directions, class: "btn btn-default add-button"

	= f.button :submit, ' Guardar Receta',class: "btn btn-primary"
