!!! 5
%html
%head
	%title Recetas Online
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Caja de Recetas", root_path

			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Nueva Receta", new_recipe_path
				%li= link_to "Desconectarse", root_path

	.containe
		-flash.each do|name,msg|
			=content_tag :div, msg, class:"alert"
	=yield
